*{
	box-sizing: border-box;
}

.clearfix:after{
	display: table;
	content: '';
	clear: both;
}
html{
	font-size: 16px;
}

body{
	font-family: "Oswald", Helvetica, Arial, sans-serif;
	color: #555;
	background: #fff;
	font-weight: 300;
}


h1, h2, h3, h4, button, .cta, .social_media li a {
	font-family: 'BenchNine', Helvetica, Arial, sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;
	color: #000;
}
h1{
	color: #fff;
	font-size: 7.5rem;
	letter-spacing: .5625rem;
	line-height: 1.2;
	text-align: center;
	margin-bottom: 3.4375rem;
}

h2{
	font-size: 2.5rem;
	margin-bottom: 3.4375rem;
}

h3{
	font-size: 1.875rem;
	margin-bottom: 1.25rem;
	letter-spacing: .25rem;
}

h4{
	font-size: 2.5rem;
	font-weight: 300;
	color: #fff;
	margin-bottom: 1.5rem;
}

a{
	color: #000;
	text-decoration: none;
}

header{
	height: 4.6875rem;
	width: 100%;
	background-color: #fff;
	position: fixed;
	z-index: 9999;
}

.container, .connect, .copyright{
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
}

.logo{
	float: left;
	width: 6.875rem;
	height: 4.6875rem;
}
header p {
	font-family: 'Rock Salt', cursive;
	float: left;
	margin: 1.875rem 0 0 2.5%;
	color: #dd3a4a;
	/*border-bottom: 2px solid #b4dcf3*/
}
.fa-bars {
	display: none
}

nav{
	float: right;
}

header nav ul li{
	display: inline-block;
	padding: 1.8125rem 0 1.3125rem;
	margin-right: 2.5rem;
}

header nav ul li:last-child{
	margin-right: 0;
}

header nav ul li.active{
	border-bottom: .25rem solid #dd3a4a;
}

header nav ul li.active a{
	color: #dd3a4a;
}

/**** Make nav blue *****
header nav ul li  a{
	color: #b4dcf3 
}
*/

.hero{
	color: #fff;
	background-color: #807b7f;
	position: relative;
	/*margin-bottom: 3.25rem;*/
}


.slides li{
	display: none;
	position: relative;
}

.slides li.active{
	display: block;
	/*background: url(../img/background.jpg) center center no-repeat fixed;*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
	min-height: 620px;
}

.content-1 {
	background: url(../img/background.jpg) center center no-repeat fixed;
}
.content-2 {
	background: red;
}
.content-3 {
	background: blue;
}
.content-4 {
	background: black;
}

.content{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	width: 75%;
	text-align: center;
	font-size: 1.375rem;
	font-weight: 300;
	line-height: 1.4;
}

.content p{
	width: 50%;
	margin: 2rem auto 3.125rem;
}

.content button, .showcase_cta button{
	border: none;
	color: #000;
	letter-spacing: .3125rem;
	font-size: 1.25rem;
	padding: .625rem 2.5rem;
	background-color: #fff;

}
/*
nav.carousel{
	position: absolute;
	z-index: 20;
	bottom: 1.25rem;
	left: 50%;
	transform: translateX(-50%);
}

nav.carousel li{
	display: inline-block;
	height: .25rem;
	width: 2.5rem;
	margin-right: .625rem;
	background-color: rgba(255, 255, 255, 0.22);
}

nav.carousel li.active{
	background-color: rgba(255, 255, 255, 1);
}

nav.carousel li:last-child{
	margin-right: 0;
}

*/
.projects{
	margin-bottom: 3.4375rem;
}

.project_list article{
	display: inline-block;
	float: left;
	width: 50%;	
	padding: 0 2% 1.875rem;
}

.project_list article:nth-child(odd){
	padding-right: 1%; 
}
.project_list article:nth-child(even){
	padding-left: 1%; 
}

.project_list img{
	width: 100%;
	height: auto;
	margin-bottom: 1.5625rem;
} 

.project_list article p{
	width: 60%;
	line-height: 1.4;
	margin: 0 auto;
	text-align: center;
}

.cta{
	display: block;
	width: 8.25rem;
	color: #dd3a4a;
	font-size: 1.25rem;
	padding-bottom: .625rem;
	border-bottom: .25rem solid #dd3a4a;
	text-align: center;
	margin: 0 auto;
}

.showcase_cta{
	background-color: #dd3a4a;
	padding: 3.4375rem 0;
	color: #fff;
	border-bottom: .125rem solid #fff;
}

.showcase_cta .callout{
	width: 60%;
	text-align: center;
	margin: 0 auto;
}

.showcase_cta .callout p{
	margin-bottom: 1.25rem;
	font-weight: 300;
	color: rgba(255,255,255, 0.7);
}

aside{
	width:100%;
	background-color: #fafafa;
	padding-top: 3.8125rem;
	padding-bottom: 3.625rem;
	margin-bottom: 1.4375rem;
}
aside h2{
	text-align: left;
	margin-bottom: 1.1875rem;
}

aside p{
	margin-bottom: 3.75rem;
}

.social_media li {
	display: inline-block;
	position: relative;
	vertical-align: top;
	background-color: #30282a;
	color:#fff;
	height:12.1875rem;/*195px*/
	width: 16.875rem;/*270*/
	text-align: center;
	margin-right: 2.29%;
}

.social_media li:last-child{
	margin-right: 0;
}

.social_media{
	margin: 0 auto;
	padding-right: 0;
}

.social_media li a {
	display: block;
	position: absolute;
	width: 100%;
	font-size: 1.875rem;
	color:#fff;
	letter-spacing: .12rem;
	font-weight: 300;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -60%);  
	-moz-transform: translate(-50%, -60%);  
	-o-transform: translate(-50%, -60%);  
	transform: translate(-50%, -50%);
}
.social_media li i{
	display: block;
	margin-bottom: .625em;
}

 .scroll-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	background-color: rgba(0,0,0,.6);
	color: #fff;
	padding: 20px;
	cursor: pointer;
}

footer p{
	font-size: .8125rem;
	margin-bottom: 2.5625rem;
}
/******** MEDIA QUERIES ***********/
/**********************************/

@media screen and (max-width: 1200px){

	header nav ul li:last-child{
		margin-right: 1.25rem;
	}
	.logo{
		margin-left: 1.25rem;
	}
	.project_list article p{
		width: 90%;
	}
	.connect h2{
		margin-left: 1.25rem;
	}
	.connect p{
		margin-left: 1.25rem;
	}
	.social_media{
		max-width: 27em;
		/*max-width: 55%;*/
		margin: 0 auto;
		padding:0;
	}
	.social_media li {
		height:8.1875rem;/*131*/
		width: 12.875rem;/*206*/
		margin-right:1.5%;
	}
	.social_media li:nth-child(even){	
		margin-right: 0;
	}
	.behance, .facebook {
		margin-bottom: 2.2%
	}

	.copyright p {
		margin-left: 1.25rem;
	}

}
/************************************/

@media screen and (max-width: 1024px){
	h1{
			font-size: 4.5rem;
		}
	header nav ul {
		display: none;
		}
	.fa-bars {
		display: inline-block;
		zoom: 2;
		/*background-color: #b4dcf3*/;
		color: #dd3a4a;
	  	margin: 1.6rem 3rem 0 0;
		}
}
	/* make the logo and name smaller, possibly stack them? */
/*
.logo{
	float: left;
	width: 5rem;
	height: 2.34rem;	
}
header p {
	font-family: 'Rock Salt', cursive;
	float: left;
	margin: 1rem;
	color: #dd3a4a;
*/
	/*border-bottom: 2px solid #b4dcf3*/

	/*THEN find some break point to get the hamburger involved*/

/************************************/
@media screen and (max-width: 768px){

	html{
		font-size: 14px;
	}
	h1{
		font-size: 3.5rem;
		letter-spacing: .5625rem;
		line-height: 1.15;
		margin-bottom: 3.4375rem;
	}
	h2{
		font-size: 2.3rem;
		margin-bottom: 3.4375rem;
	}
	h3{
		font-size: 1.675rem;
	}
	.project_list article p{
		width: 98%;
	}
	.content p{
		width: 75%;
		font-size: 1.2rem;
	}
	.slides li.active{
		height: 80vh;
		min-height: 520px;
	}
}
/*************************************/
@media screen and (max-width: 650px){
	.project_list article{
		display: block;
		width: 98%;	
		padding: 1rem 1% 1% 1rem;
		margin: 1rem 0;
	}
	.projects h2{
		margin-bottom: 1rem;
	}
	h3 {
		margin-bottom: .5rem;
	}
	header p {
		display: none;
	}
	.project_list article:nth-child(odd){
		padding-right: 0; 
	}
	.project_list article:nth-child(even){
		padding-left: 2%; 
}
	.cta{
		  margin: 1rem auto 0;
	}
	.showcase_cta .callout {
  		width: 80%;
	}
}

/************************************/
@media screen and (max-width: 480px){
	h1{
		font-size: 3.2rem;
	}
	.slides li.active {
		 height: 70vh;
		 min-height: 420px;
	}
	.content p {
		 width: 85%;
		 margin: 1rem auto 2.125rem;
	}
	/*.connect h2 {
  		text-align: center;
  		margin-left: 0;
  	*/
	}
	.showcase_cta .callout p {
		line-height: 1.4rem;
		width: 98%;
	}
	.connect p {
		line-height: 1.4rem;
	}
}


